* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.parent{
    width: 1140;
    height: 1395;
    color:black;
    display: flex;
    gap: 32px;
   
}
.child{
    padding: 32px;
   }



